.git
.github
.idea
.vscode
.nova
.zed
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
docker/*/data
*.sqlite
api.json
docs
.env
.env.*
!.env.example
